* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 32px;
    font-weight: bold;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 50%;
    height: 3px;
    background: red;

}